mixin languages(langs)
	+b.languages&attributes(attributes)
		+e('ul').list
			each lang, i in langs
				if i === 0
					+e('li').item._active
						+e('a').link(href='#')= lang
				else
					+e('li').item
						+e('a').link(href='#')= lang