.product-technical
	margin-bottom 40px
	display block

	&__header
		margin-bottom 40px
		font-family proxima_th
		font-size 40px
		line-height 40px
		text-align center
		color #000

	&__item
		font-size 20px
		line-height 30px
		text-align center
