.product-technical
	display block
	margin-bottom 40px

	&__header
		margin-bottom 40px
		text-align center
		font-family proxima_th
		font-size 40px
		line-height 40px
		color #000
		
	&__item
		font-size 20px
		line-height 30px
		text-align center