import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

@import '../../node_modules/slick-carousel/slick/slick.css'
import('../blocks/**/*')

body
	font-family proxima_rg

.mobile-only
	visibility hidden
	
	+below($mobile)
		visibility visible
		
.desktop-only
	+below($tablet)
		display none
		
.only-mobile
	display none
	+below($mobile)
		display block
		
.only-tablet
	display none
	+below($tablet)
		display block
	+below($mobile)
		display none
		
.only-desktop
	display block
	+below($tablet)
		display none
		
.slick-dots
	text-align center
	li
		display inline-block
		
		button
			width 8px
			height 8px
			font-size 0
			border-radius 100%
			border none
			background #9ac9ff
			margin 4px
			
		&.slick-active
			button
				background #7e9fc0