import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')

body
	font-family proxima_rg

.mobile-only
	visibility hidden
	
	+below($tablet)
		visibility visible
		
.desktop-only
	+below($tablet)
		display none