include ../header/header
include ../footer/footer

mixin page-terms-of-use()
	+b.page-terms-of-use
		+header()

		+e('h1').header Terms of use fitvigo App
		
		+e.block
			+e('h3').subheader User:
			+e('p').p ADE Schnellwaagen-and
			+e('p').p Aufschnittmaschinen-Fabrik
			+e('p').p Walter R. Mayer GmbH &amp; Co.
			+e('p').p Hammer Steindamm 27-29
			+e('p').p D-22089 Hamburg
			+e('p').p (hereinafter "ADE")

		+e.block
			+e('h3').subheader 1. SUBJECT OF THE AGREEMENT
			+e('p').p 1.1. These terms of use shall govern the use of the mobile app "fitvigo" ("Software") for evaluating measurements made via ADE`s vital parameter products ("ADE Smart Products") on ADE`s server (“ADE Server”) and use of additional features and services that ADE provides in this way (jointly the "Services"). The terms of use do not extend to any hardware purchased (such as a ADE Smart Product).
			+e('p').p 1.2. The agreement between ADE and the user shall be deemed concluded upon accepting the Software`s terms of use. Without such consent using the Software is not permitted.

		+e.block
			+e('h3').subheader 2. RIGHT OF USE
			+e('p').p 2.1. Release and use of the Software is free of charge for the user. However, ADE shall be entitled to offer certain services only for a fee.
			+e('p').p 2.2. The Software allows for the collecting and transmitting vital parameters to the ADE Server as well as local evaluation combined with re- transmitting the results to the Software. Any transmitted information and data do not contain any personal data.
			+e('p').p 2.3. By consenting to these terms of use the user shall be granted the non-exclusive, perpetual right to install the Software on terminals and use it jointly with the ADE Smart Products in order to use the Services. This right of use may neither be transferred nor sublicensed. The user`s rights of use updates of the Software shall commence upon downloading.
			+e('p').p 2.4. The user may not use the Software for purposes other than those listed in clause 2.2 above. In particular avoiding or overriding technical protection measures shall not be permitted. Reverse engineering, decompiling or disassembling the Software is prohibited unless expressly permitted by § 69e UrhG.
			+e('p').p 2.5. If the Software contains third party programs (e.g. open source software), the license conditions of such third party which may be retrieved from ADE`s website on (www.fitvigo.com) shall apply.

		+e.block
			+e('h3').subheader 3. CONDITIONS OF USE
			+e('p').p For using the Software, the user needs a smartphone with Bluetooth function on the Android operating system (version 4 or higher) or iOS (version 8 or higher) or Watch OS (version 1 or higher). Many functions also require an online or network connection costs of which will follow the provisions of the agreement between the respective provider and the user. ADE expressly states that these costs for access and connection shall be borne by the user and therefore recommends to book an internet flat rate when using the Software.

		+e.block
			+e('h3').subheader 4. RENUMERATION
			+e('p').p 4.1. By purchasing a factory-new ADE Smart Product the user shall acquire the right to use the Software and its basic services free of charge (connecting the ADE Smart Products, transferring vital parameters, saving and analysing the data, hereinafter referred to as the <span class='nows'><span>"</span><b>Basic Services</b><span>"</span></span>) for a period of twelve (12) months after initial installation of the Software.
			+e('p').p 4.2. Upon expiry of the free period of use, the right of use for the base services in accordance with clause 2.3. shall end. However, the user may opt for any prolongation of the right of use for a fee at any time; this option is provided by the Software in the menu "Settings".
			+e('p').p 4.3. If the period of use is extended for a fee, the agreed upon period shall serve as a minimum contract period. An early ordinary termination shall not be possible. Any termination for good cause shall remain unaffected.
			+e('p').p 4.4. Beyond the basis of Services, the user may at any time book additional services for a fee, such as the release of content (so-called habits) e.g. with tips for improving the fitness.
			+e('p').p 4.5. Actual prices and additional contractual conditions which may be retrieved online at www.fitvigo.com shall apply. There the user also will receive information on methods and conditions of payment.

		+e.block
			+e('h3').subheader 5. SCOPE OF PERFORMANCE OF THE SERVICES
			+e('p').p 5.1.	The Software does not only evaluate vital parameters that the ADE Smart Products have collected but if the user releases them also such vital parameters, those which each used Smartphone has determined, for example, the functions "Apple Health", "S" or "Google Fit". Before importing these vital parameters from the Smartphone the user has to agree expressly to such use of its vital parameters by activating a release option in the Software. Following that, the date of birth, height, weight and measured data such as steps, distance, weight, blood pressure and pulse will be imported, if available. For more information about this import function please refer to our information on data protection <u>Notes</u>.
			+e('p').p 5.2. The accuracy of measuring vital parameters depends on a number of different factors. Insofar the measurement results of the ADE Smart Product shall serve only as a guide for the user. ADE assumes no liability for the accuracy of the measurement results as identified by the Services. In particular it should be noted that ADE Smart Products are not medical devices and their results therefore may not be used as basic information for medical therapy.
			+e('p').p 5.3. ADE shall not be obligated to offer its Services without any disruption however will strive to make them available on an average annual rate of 98%.
			+e('p').p 5.4 ADE is entitled to have the Services wholly or in part implemented by third parties. All subcontractors which ADE uses shall comply with the applicable provisions of data protection act (in particular § 11 BDSG).
			+e('p').p 5.5. ADE has the right to restrict or block the Services for the user, if it turns out that the user uses the Software contrary to these terms of use.
			+e('p').p 5.6. ADE shall not permanently archive the measured data and characteristics. The user shall therefore ensure that it also will back up its measurement data and characteristics locally.
			+e('p').p 5.7. If the user upon purchase of the ADE Smart Product received a product key, this is to protect against unauthorized access. Any disclosure to third parties is prohibited. It can only be deleted once so that in the event of a resale of the ADE Smart Product there will be no free period of use.
			+e('p').p 5.8. The user has the right to have its user data permanently deleted from the ADE Servers. For doing this, a written cancellation request must be sent to ADE`s above address by attaching a meaningful proof of identity. ADE reserves the right to not delete user data, but to block them as far as ADE is required by law to further store the user data.
			+e('p').p 5.9. ADE will delete the user account if it is not in use over a period of at least two years. The user will be notified in writing within an appropriate period.

		+e.block
			+e('h3').subheader 6. UPDATES
			+e('p').p 6.1. ADE is entitled, but not obliged to provide the user free of charge with available patches, bug fixes or improvements. Normally, these have been automatically installed on the smartphone. However, the user may switch this function off so that the update has to be implemented manually.
			+e('p').p 6.2. By accepting these terms of use, the user agrees to this automatic update of the Software.

		+e.block
			+e('h3').subheader 7. DATA PROTECTION
			+e('p').p Information on data protection that the user may retrieve online at www.fitvigo.com. shall apply.

		+e.block
			+e('h3').subheader 8. LIABILITY
			+e('p').p 8.1 In all cases of contractual and non-contractual liability, ADE and its legal representatives, workers, employees and agents shall solely pay compensation for damages in accordance with the following limits:
			+e('ul').list
				+e('li').list-item In the event of intent in full, the same applies in the absence of a feature that has been warranted by ADE;
				+e('li').list-item In the event of gross negligence only up to the amount of any foreseeable damages that was meant to be avoided by the breach of obligation;
				+e('li').list-item In other cases: Only from breach of any material contractual obligation, if by this the purpose of the agreement is at risk, but always only limited to the amount of the foreseeable damage;
				+e('li').list-item In addition: If ADE has taken out an insurance against the damage occurred, in the framework of the insurance cover and subject to the condition precedent by paying the insurance premium.
			+e('p').p 8.2 The limitations of liability in accordance with clause 8.1 shall not apply for any liability for injury to persons according to the law on product liability.
			+e('p').p 8.3 The aforementioned provisions shall also apply to the right to compensation of expenses according to § 284 BGB.

		+e.block
			+e('h3').subheader 9. FINAL PROVISIONS
			+e('p').p 9.1 The law of the Federal Republic of Germany shall apply under exclusion of the UN purchase right. Exclusive place of jurisdiction is Hamburg, as far as the user is a merchant in the sense of the Handelsgesetzbuch (German Commercial Code), legal person of public law or public legal assets.
			+e('p').p 9.2 ADE is entitled to change or amend these terms of use at any time wholly or in part. For this purpose, ADE shall advise the user about any intention to amend or change the terms of use by attaching the new conditions of use in text form. Consent shall be deemed given if the user within one month after receipt of the above mentioned notification in text or written form does not object. In above mentioned notification ADE will advise the user on this process and its legal consequences.
			+e('p').p 9.3 The right of the user to transfer its rights to third parties shall be excluded (prohibition of assignment). However, ADE shall be entitled to assign the user agreement to third parties, in so far as the formalities of clause 9.2 are complied with.





		+footer()
