.product
	padding-top 80px
	display block

	&__image
		margin-top 150px
		display block
		height 700px
		background-position center
		background-size cover

		+below($tablet)
			margin-top 106px
			margin-bottom 30px
			height 456px
