.product
	display block
	padding-top 80px

	&__image
		display block
		margin-top 150px
		height 700px
		background-size cover
		background-position center

		+below($tablet)
			margin-top 106px
			height 456px
