include ../product-header/product-header
include ../product-features/product-features
include ../product-technical/product-technical
include ../product-item/product-item
include ../header/header
include ../footer/footer

mixin product(data)
	+b.product&attributes(attributes)
		+header

		if data.header
			+product-header(data.header)

		+e.images.js-mobile-slick
			+e.image._left(style='background-image: url(assets/images/product_img_1.jpg)')
			+e.image._right-top(style='background-image: url(assets/images/product_img_2.jpg)')
			+e.image._right-bottom(style='background-image: url(assets/images/product_img_3.jpg)')

		if data.features
			+product-features(data.features)

		if data.technical
			+product-technical(data.technical)

		+e.items
			each item in data.items
				+product-item(item)

		+footer