.product
	padding-top 80px
	display block

	&__image
		display block
		height 760px
		background-position center
		background-size cover

		+below($tablet)
			height 456px

		+below($mobile)
			height 214px
