include ../icon/icon

mixin habits()
	+b.habits
		+e.wraper
			+e.title Habits
			+e.desc Vigo is accomplished by suggesting healthier habits, simple tasks you can easily integrate into your everyday life.

			+e.features
				+e.habit
					+icon('habits_1').icon
				+e.habit
					+icon('habits_2').icon
				+e.habit
					+icon('habits_3').icon
				+e.habit
					+icon('habits_4').icon
				+e.habit
					+icon('habits_5').icon
				+e.habit
					+icon('habits_6').icon
				+e.habit
					+icon('habits_7').icon
				+e.habit
					+icon('habits_8').icon