.habits
	height 100vh
	background-image linear-gradient(180deg, rgba(255, 255, 255, .98) 0, rgba(255, 255, 255, .25) 100%), url('../images/habits.png')
	background-position 50% 100%
	background-size cover

	&__wrapper
		position relative
		height 100%
		
	&__heading
		position absolute
		z-index 11
		top 50%
		left 0
		right 0
		transform translate(0, -140%)

	&__title
		position relative
		z-index 7
		font-family proxima_th
		font-size 60px
		font-weight 100
		text-align center
		color black
		
		+below($switchNavAt)
			padding-top 20px

	&__desc
		position relative
		margin 0 auto
		padding-top 20px
		width 640px
		font-family proxima_li
		font-size 20px
		font-weight 300
		line-height 24px
		z-index 12
		text-align center
		
		+below($switchNavAt)
			width auto
			margin 0 20px

	&__features
		position absolute
		z-index 10
		top 50%
		left 50%
		transform translate(-50%, 0)
		padding-top 33px
		display flex
		flex-direction row
		justify-content space-between
		width 864px
		
		+below($switchNavAt)
			width 270px

	&__icon
		width 80px
		transition ease-out .4s all
		
		+below($switchNavAt)
			width 60px

	&__text
		position absolute
		top 0
		right 0
		left 0
		text-align center
		opacity 0
		transition ease-out .4s opacity
		
		&_active
			opacity 1
			
		+below($switchNavAt)
			position static
			display none
			
			&_active
				display block

	&__habit
		position absolute
		top 80px
		left 0
		cursor pointer
		transition ease-out .4s all
		
		+below($switchNavAt)
			top -30px
			left -30px

		&_h2
			left 96px
			+below($switchNavAt)
				left 40px

		&_h3
			left 192px
			+below($switchNavAt)
				left 110px

		&_h4
			left 288px
			+below($switchNavAt)
				left 180px

		&_h5
			left 384px
			+below($switchNavAt)
				left 250px

		&_h6
			left 480px
			+below($switchNavAt)
				left 0
				top 40px

		&_h7
			left 576px
			+below($switchNavAt)
				left 70px
				top 40px

		&_h8
			left 672px
			+below($switchNavAt)
				left 140px
				top 40px
				
		&_h9
			left 768px
			+below($switchNavAt)
				left 210px
				top 40px


		&_inactive
			transform translateY(30px)
			opacity .2

		&_active
			z-index 10
			top 30px
			left 50%
			margin-left -60px
			transform rotate(30deg)

			.habits__icon
				width 120px

	&__habits-desc
		position absolute
		top calc(50% + 180px)
		left 0
		right 0
		text-align center

	&__habit-title
		margin-bottom 20px
		font-family proxima_th
		font-size 30px
		color #7e9fc0

	&__habit-desc
		position absolute
		top 60px
		right 0
		left 0
		font-size 18px
		color #333
		opacity 0
		transition ease-out .4s all
		z-index 12

		&_active
			top 0
			opacity 1

	&__white-screen
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background rgba(255, 255, 255, .8)
		opacity 0
		transition ease-out .4s opacity

		&_visible
			opacity 1
			z-index 10
