.habits
	height 100vh
	background-image linear-gradient(180deg, rgba(255, 255, 255, .98) 0, rgba(255, 255, 255, .25) 100%), url('../images/habits.png')
	background-position 50% 100%
	background-size cover

	&__wrapper
		position relative
		height 100%

	&__title
		position relative
		z-index 7
		padding-top 217px
		font-family proxima_th
		font-size 60px
		font-weight 100
		text-align center
		color black
		
		+below($switchNavAt)
			padding-top 100px

	&__desc
		position relative
		margin 0 auto
		padding-top 20px
		width 640px
		font-family proxima_li
		font-size 20px
		font-weight 300
		line-height 24px
		z-index 12
		text-align center
		
		+below($switchNavAt)
			width auto
			margin 0 20px

	&__features
		position relative
		margin 0 auto
		padding-top 33px
		display flex
		flex-direction row
		justify-content space-between
		width 752px
		
		+below($switchNavAt)
			width 270px

	&__icon
		width 80px
		transition ease-out .4s all
		
		+below($switchNavAt)
			width 60px

	&__text
		position absolute
		top 0
		right 0
		left 0
		text-align center
		opacity 0
		transition ease-out .4s opacity

		&_active
			opacity 1

	&__habit
		position absolute
		top 50px
		left 0
		cursor pointer
		transition ease-out .4s all

		&_h2
			left 96px
			+below($switchNavAt)
				left 70px

		&_h3
			left 192px
			+below($switchNavAt)
				left 140px

		&_h4
			left 288px
			+below($switchNavAt)
				left 210px

		&_h5
			left 384px
			+below($switchNavAt)
				left 0
				top 140px

		&_h6
			left 480px
			+below($switchNavAt)
				left 70px
				top 140px

		&_h7
			left 576px
			+below($switchNavAt)
				left 140px
				top 140px

		&_h8
			left 672px
			+below($switchNavAt)
				left 210px
				top 140px

		&_inactive
			transform translateY(30px)
			opacity .4

		&_active
			z-index 10
			top 30px
			left 50%
			margin-left -60px
			transform rotate(30deg)

			.habits__icon
				width 120px

	&__habits-desc
		position relative
		margin-top 160px
		text-align center

	&__habit-title
		margin-bottom 20px
		font-family proxima_th
		font-size 30px
		color #7e9fc0

	&__habit-desc
		position absolute
		top 60px
		right 0
		left 0
		font-size 18px
		color #333
		opacity 0
		transition ease-out .4s all
		z-index 12

		&_active
			top 0
			opacity 1

	&__white-screen
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background rgba(255, 255, 255, .8)
		opacity 0
		transition ease-out .4s opacity

		&_visible
			opacity 1
			z-index 10
