include ../icon/icon

mixin habits()
	+b.habits
		+e.wraper
			+e.title Habits
			+e.desc Vigo is accomplished by suggesting healthier habits, simple tasks you can easily integrate into your everyday life.

			+e.features
				+e.habit._h1
					+icon('habits_1').icon
				+e.habit._h2
					+icon('habits_2').icon
				+e.habit._h3
					+icon('habits_3').icon
				+e.habit._h4
					+icon('habits_4').icon
				+e.habit._h5
					+icon('habits_5').icon
				+e.habit._h6
					+icon('habits_6').icon
				+e.habit._h7
					+icon('habits_7').icon
				+e.habit._h8
					+icon('habits_8').icon