include ../header/header
include ../section/section
include ../intro/intro
include ../track/track

mixin index()
	+b.index
		+header()
		+e.sections#fullpage
			+section.__fake-screen-1
			+section.__fake-screen-2
			+section.__intro
				+intro
			+section.__fake-screen-3
			+section.__fake-screen-4
			+section.__track
				+track
				
			+section.__habits