.index
	display block
	margin 0 auto
	
	&__fullpage-nav
		position fixed
		right 20px
		top 50%
		transform translate(0, -50%)
		
		a
			display inline-block
			width 8px
			height 8px
			background #badaff
			border-radius 100%
			
			&.active
				background #7e9fc0