.index
	margin 0 auto
	display block
	
	&__fake-screen-1
		position fixed
		left 0
		top 0
		right 0
		bottom 0
		background #fff
		z-index 10
		
		.fp-viewing-{slide2} &,
		.fp-viewing-{slide3} &,
		.fp-viewing-{slide4} &,
		.fp-viewing-{slide5} &,
		.fp-viewing-{slide6} &,
		.fp-viewing-{slide7} &,
		.fp-viewing-{slide8} &,
		.fp-viewing-{slide9} &,
		.fp-viewing-{slide10} &
			display none

	&__fullpage-nav
		position fixed
		top 50%
		right 20px
		transform translate(0, -50%)

		a
			margin-top 4px
			margin-bottom 4px
			display block
			width 8px
			height 8px
			background-color #badaff
			border-radius 100%

			&.active
				background-color #7e9fc0

			& span
				display none

	&__mobile
		position fixed
		top 70px
		left 0
		right 0
		bottom 0
		background #fff
		overflow auto
		display none
		
		+below($switchNavAt)
			display block
			z-index 15