mixin nav()
	+b.nav&attributes(attributes)
		+e('ul').list
			+e('li').item
				+e.link._active(href='#') App Info

			+e('li').item
				+e.link Products
				+e('ul').list._subnav
					+e('li').item
						+e.link(href='#') Activity tracker
					+e('li').item
						+e.link(href='#') Body analyser scales
					+e('li').item
						+e.link(href='#') Activity tracker
					+e('li').item
						+e.link(href='#') Body analyser scales

			+e('li').item
				+e.link Imprint
				+e('ul').list._subnav
					+e('li').item
						+e.link(href='#') Activity tracker
					+e('li').item
						+e.link(href='#') Body analyser scales
					+e('li').item
						+e.link(href='#') Activity tracker
					+e('li').item
						+e.link(href='#') Body analyser scales

			+e('li').item
				+e.link._external(href='#') FAQ
