.nav
	display block

	&__item
		display inline-block
		margin-right 14px

		+below($tablet)
			margin-right 25px

		+below($mobile)
			margin-right 0
			display block
			padding 20px 0 20px 16px
			border-top 1px solid #e4e4e4

	&__link
		color #7e9fc0
		text-decoration none


		&_active
			color #bbb

		&_external
			position relative
			padding-right 20px

			&:after
				position absolute
				right 0
				top 4px
				width 5px
				height 5px
				border-top 1px solid #7e9fc0
				border-right 1px solid #7e9fc0
				content ''

			&:before
				position absolute
				right 5px
				top 3px
				width 1px
				height 12px
				border-right 1px solid #7e9fc0
				transform rotate(45deg)
				content ''
