mixin intro()
	+b.intro&attributes(attributes)
		+e.text-1
			+e('h1').header Fitvigo
			+e('p').paragraph Synth polaroid bitters chillwave pickled
			+e('p').paragraph Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church-key roof party 
			+e('p').paragraph Leggings ethical McSweeney's, normcore you probably haven

		+e.header-2
			+e('h1').header Hi, I´m Vigo — your own me

		+e.text-2
			| a personalized graphic companion, giving you a body-status-check with<br>one glimpse

		+e.text-3
			| I´m a representation of your collected data, helping you to be more active<br>in everyday life and therefore to feel fitter and better.

		+e.phone
			+e.ball
				+e('img')(src='assets/images/blue_blur.png').ball-image

		+e.scroll-down.js-scroll-down
			+e.jumper
			| Scroll Down
