@keyframes jump
  0%
  	top 10px

  50%
  	top 30px

  100%
  	top 10px
  	
 @keyframes jump-blur
  0%
  	background-position center -15px

  50%
  	background-position center -5px
  	
  55%
  	background-position center 0px

  95%
  	background-position center -5px
  	
  100%
  	background-position center -15px

.intro
	position fixed
	z-index 12
	top 75px
	bottom 0
	left 50%
	max-width 1040px
	width 100%
	transform translate(-50%, 0)
	transition long-animation
	background #fff

	.fp-viewing-{slide4} &,
	.fp-viewing-{slide5} &,
	.fp-viewing-{slide6} &,
	.fp-viewing-{slide7} &,
	.fp-viewing-{slide8} &,
	.fp-viewing-{slide9} &,
	.fp-viewing-{slide10} &
		top -100%
		bottom 100%
		
	&__content
		opacity 0
		transition short-animation
		transition-delay .5s
		
		.fp-viewing-{slide2} &,
		.fp-viewing-{slide3} &
			opacity 1

	&__phone
		position absolute
		top -20%
		left 70px
		width 302px
		height 628px
		background url(../images/phone.png) center no-repeat
		background-size contain
		transform translate(0, -50%)
		transition short-animation

		&:before
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			content ''
			background #fff
			opacity 1
			transition short-animation

		.fp-viewing-{slide1} &
			top 50%
			opacity 1

			&:before
				opacity 0

	p
		margin-bottom 13px

	h1
		margin-bottom 20px
		header()

	&__text-1
		position absolute
		top 10%
		right 20px
		left 500px
		font-size 20px
		line-height 23px
		opacity 0
		transition short-animation
		transform translate(0, -50%)

		.fp-viewing-{slide1} &
			top 50%
			opacity 1

	&__header-2
		position absolute
		right 0
		left 0
		top -100%
		text-align center
		transition long-animation

		.fp-viewing-{slide1} &
			top 170%
		
		.fp-viewing-{slide2} &,
		.fp-viewing-{slide3} &
			top 60%

	&__text-2
		position absolute
		right 0
		left 0
		top 160%
		font-size 20px
		line-height 23px
		text-align center
		opacity 0
		display none
		transition long-animation
		
		.fp-viewing-{slide1} &,
		.fp-viewing-{slide2} &,
		.fp-viewing-{slide3} &,
		.fp-viewing-{slide4} &
			display block

		.fp-viewing-{slide2} &
			top calc(60% + 100px)
			opacity 1

		.fp-viewing-{slide3} &
			top calc(60% + 100px)
			opacity 0

	&__text-3
		position absolute
		right 0
		left 0
		top calc(60% + 100px)
		font-size 20px
		line-height 23px
		text-align center
		opacity 0
		display none
		transition long-animation
		
		.fp-viewing-{slide4} &
			top -100%
		
		.fp-viewing-{slide1} &,
		.fp-viewing-{slide2} &,
		.fp-viewing-{slide3} &,
		.fp-viewing-{slide4} &
			display block

		.fp-viewing-{slide3} &
			opacity 1

	&__ball
		position fixed
		top 55%
		left 221px
		width 302px
		height 302px
		transform translate(-50%, -70%)
		text-align center
		transition ease-out 1s all
		
		.fp-viewing-{slide2} &
		.fp-viewing-{slide3} &
			width 500px
			height 500px
			left 50%
			top 50%

	&__ball-image
		width 150px
		height 160px
		opacity 0
		transition ease-out 1s all

		.fp-viewing-{slide1} &
		.fp-viewing-{slide2} &
			opacity 1
			
		.fp-viewing-{slide2} &
		.fp-viewing-{slide3} &
			width 500px
			height 500px

	&__scroll-down
		position absolute
		left 50%
		bottom 150px
		padding-top 58px
		width 100px
		font-size 16px
		text-align center
		cursor pointer
		color #7e9fc0
		opacity 0
		background-image url(../images/scroll_blur.png)
		background-repeat no-repeat
		background-position center -20px
		animation jump-blur .8s infinite
		animation-timing-function ease-out
		transform translate(0, -50%)
		transition short-animation

		.fp-viewing-{slide1} &
			bottom 10px
			opacity 1

	&__jumper
		position absolute
		top 10px
		left 38px
		width 24px
		height 24px
		background-color #9ac9ff
		border-radius 100%
		opacity .5
		animation jump .8s infinite
		animation-timing-function ease-out

	&__ball-large
		position fixed
		left 50%
		top -100%
		width 450px
		height 450px
		opacity 0
		transform translate(-50%, -70%)
		transition long-animation
		
		.fp-viewing-{slide1} &
			top 170%
		
		.fp-viewing-{slide2} &,
		.fp-viewing-{slide3} &
			top 50%
			opacity 1
		
	&__ball-video
		position absolute
		width 450px
		height 450px
		opacity 1
		transition short-animation
		
		.fp-viewing-{slide3} &
			opacity 0
			
		&_orange
			opacity 0
			
			.fp-viewing-{slide3} &
				opacity 1