proxima_th = 'proxima_nova_thin', sans-serif
proxima_li = 'proxima_nova_light', sans-serif
proxima_rg = 'proxima_nova_rgregular', sans-serif
proxima_md = 'proxima_novamedium', sans-serif
proxima_sb = 'proxima_nova_ltsemibold', sans-serif
proxima_eb = 'proxima_nova_thextrabold', sans-serif
proxima_bl = 'proxima_nova_black', sans-serif

@font-face
  font-family: 'proxima_nova_thin';
  src: url('../fonts/proxima_nova_thin-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  
@font-face
  font-family: 'proxima_nova_light';
  src: url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'proxima_nova_ltsemibold';
  src: url('../fonts/proxima_nova_semibold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'proxima_nova_thextrabold';
  src: url('../fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'proxima_novamedium';
  src: url('../fonts/proxima_nova_medium-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'proxima_black';
  src: url('../fonts/proxima_nova_black-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;