slide1 = 'intro'
slide2 = 'vigo'
slide3 = 'about'
slide4 = 'track'
slide5 = 'track-details'
slide6 = 'track-products'
slide7 = 'habits'
slide8 = 'protection'
slide9 = 'share'
slide10 = 'products'