include ../header/header
include ../footer/footer

mixin page-privacy-policy()
	+b.page-privacy-policy
		+header()

		+e('h1').header Information on data protection fitvigo App

		+e.block
			+e('h3').subheader User:
			+e('p').p ADE Schnellwaagen-and
			+e('p').p Aufschnittmaschinen-Fabrik
			+e('p').p Walter R. Mayer GmbH &amp; Co.
			+e('p').p Hammer Steindamm 27-29
			+e('p').p D-22089 Hamburg
			+e('p').p (hereinafter "ADE")

		+e.block
			+e('h3').subheader 1. SUBJECT MATTER OF THIS DATA PROTECTION
			+e('p').p This information on data protection informs you which data we will collect when using our fitvigo App (hereinafter referred to as <span class='nows'><span>"</span><b>App</b><span>"</span></span>) and how it will be processed and used by us. We warrant that all personal data will be collected, processed and stored in strict compliance with all data protection regulations, in particular with the Federal Data Protection Act (BDSG) and the German Telemedia Act (TMG). We point out that data transmission online (e.g. communication by email) may show gaps in security. A complete protection of data against access by third parties is not possible.

		+e.block
			+e('h3').subheader 2. RESPONSIBLE BODY AND PROVIDER
			+e('p').p ADE <i>Schnellwaagen- and Aufschnittmaschinen-Fabrik Walter R. Mayer GmbH &amp; Co., Hammer Steindamm 27-29, 22089 Hamburg</i> is responsible in the sense of the German Data Protection Act (BDSG) and at the same time is the service provider within the meaning of the German Telemedia Act (TMG). Full details are available in the App under the heading "Imprint". In case of queries or comments about this privacy statement or generally concerning data protection, the user may use the following email address <a class="page-privacy-policy__link" href='mailto:Info@fitvigo.com'>Info@fitvigo.com</a>.

		+e.block
			+e('h3').subheader 3. INFORMATION ON PESONAL DATA
			+e('p').p Personal data according to ยง 3 BDSG is any data, which contain or allow for information on personal and factual circumstances of a specific or identifiable person. This includes for example the name, address, telephone number and email address, so that if the user may be identified. If this concerns only data from which the user may not be identified, this information shall not be classified as personal data. All personal data is protected by the special protection in accordance with the data protection regulations, which we guarantee by technical and organizational measures.

		+e.block
			+e('h3').subheader 4. COLLECTING AND USING DATA
			+e('p').p Our app allows for displaying and evaluating previously measured vital parameters (hereinafter referred to as <span class="nows"><span>"</span><b>Measurement Data</b><span>"</span></span>). Normally the measuring data is collected by an Ade Smart Product (to be purchased separately in the specialist trade) and sent via Bluetooth to the app. Upon the user`s explicit consent it is also possible to access and evaluate measurement data on the user`s smartphone (e.g. as a result of the functions "Apple Health", "Google Fit" or "S-Health"). In the App - or possibly already in the Ade Smart Product - the measured data will be encrypted via a 128bit key and sent online to the Ade Server for evaluation. After having calculated the evaluation results the same will again be sent online to the App and displayed on the App. All Ade Server used for evaluating the measurement data are located in Germany. The App by itself will not transmit the measured data outside of Germany.
			+e('p').p If the measured data have been collected by the Ade Smart Products, they will not be linked to the personal characteristics of the user without prior registration. Without registration we thus are not able to allocate these measurement data to a specific person but only to the Ade Smart Product used. This will be implemented by using a serial number of the Ade Smart Product, which together with the measuring data will be sent to the Ade server for evaluation. If the user wants to register as part of the registration process the following data will be collected: Name, email address, month and year of birth, height, weight, gender.
			+e('p').p Measurement data, which upon consent will be imported from the smartphone of the user (e.g. via the "Apple Health", "Google Fit" or "S-Health") to the App may be allocated to the user on the basis of the user ID assigned to the smartphone. This import as well as transmitting the encrypted data to the German Ade Server only will takes place upon express consent of the user that was given by initially releasing the use of the measuring data that were collected via the smartphone.
			+e('p').p We will continue to collect and use those data sent to us automatically by the user`s <b>device</b>, such as:
			+e('ul').list
				+e('li').list-item Date and time of using our App
				+e('li').list-item Data volume transmitted and access status (file transmitted, file not found, etc.) as well as
				+e('li').list-item User`s IP-address
				+e('li').list-item Possibly browser type (when using the fitvigo website)
				+e('li').list-item Possibly the last page that the user visited (when using the fitvigo website).
			+e('p').p When using the App, we will collect the following personal data in order to enable its functions:
			+e('ul').list
				+e('li').list-item Email address.
			+e('p').p For a visit for information purposes, we will collect and use abovementioned device data exclusively in non-personal form. This is to enable the use of the web pages the user has retrieved for statistical purposes and to improve the quality of our online offer. We will store the IP address only for the duration of the visit to our website, no evaluation of personal data will take place.

		+e.block
			+e('h3').subheader 5. DATA PROCESSING BY THIRD PARTIES
			+e('p').p As far as any third parties collect, process or use personal data of the user, such as acquisition of the ADE Smart Product or download of the App from a platform, we will not be liable for such actions. However, if we use any services of third parties when operating the App and such third parties collect, process or use such data on our behalf, this will always be exercised in compliance with the legal requirements of processing contract data, in particular according to ยง 11 BDSG.

		+e.block
			+e('h3').subheader 6. CONSENT TO MAKE CONTACT
			+e('p').p If in the registration process the user voluntarily discloses its email address, we from time to time would like to send out emails on interesting news, provided the user has given its explicit consent to do so. We are authorized to use the email address for information, advertising and market research purposes as a means of contact. The user is to give any consent separately within the frame of registration. Once a consent is given it may be only revoked at any time with effect for the future. Information concerning revocation is given in clause 8.

		+e.block
			+e('h3').subheader 7. INFORMATION, CORRECTION AND DELETON OF DATA
			+e('p').p The user at any time is entitled to request information about data stored in ADE, as well as have the same corrected or deleted, if by doing that implementation the indented will not be compromised. The request has to be submitted by stating the name, email and postal address to: www.fitvigo.com or mail to <i>ADE Schnellwaagen-and Aufschnittmaschinen-Fabrik Walter R. Mayer GmbH &amp; Co., Hammer Steindamm 27-29, 22089 Hamburg</i>. Please be aware that we reserve the right to require that a meaningful proof of identification or proof of the affected serial number of the ADE Smart Product will be provided to us prior to any deletion of data. We would like to point out that the right to delete may be restricted by statutory retention obligations, that we have to comply with and therefore only blocking data may be possible. In addition, courts, law enforcement authorities or other legally competent authorities may legally retrieve data or require information from us.

		+e.block
			+e('h3').subheader 8. REVOCATION AND RITH TO OPPOSE
			+e('p').p We would like to point out that the user at any time may revoke its legal consent with effect for the future. For doing this, sending an informal email to <a class="page-privacy-policy__link" href='mailto:Info@fitvigo.com'>Info@fitvigo.com</a> or posting the same to the abovementioned address will be sufficient.
			
		+e.block
			+e('h3').subheader 9. CHANGE TO THE DATA POLICY
			+e('p').p We reserve the right to change this data policy at any time in order to adapt it to the functions of the service. In this respect the provisions of our terms of use in clause 9.2. shall apply.

























		+footer()
