.product-features
	display block

	&__wrapper
		width 1020px
		margin 40px auto 100px
		font-size 0
		
		+below($tablet)
			width 100%
		
		&_cols-3
			.product-features__item
				width 340px
		
		&_cols-4
			.product-features__item
				width 255px
				
	&__item
		margin-top 40px
		box-sizing border-box
		padding 0 10px
		display inline-block
		vertical-align top
		font-size 20px
		line-height 24px
		text-align center
		
		+below($tablet)
			width 50% !important
		
	&__title
		font-family proxima_li
		font-size 40px
		color #9dc6ff
		
	&__text
		margin-top 20px
		line-height 24px