.product-features
	padding-top 40px
	display block

	+below($tablet)
		padding-top 14px
		padding-bottom 0

	&__wrapper
		margin 0 auto
		width 1020px
		font-size 0
		text-align center

		+below($tablet)
			margin-top 0
			margin-bottom 0
			padding-bottom 0
			width 100%

		&_cols-3
			.product-features__item
				padding-bottom 48px
				width 286px

				+below($mobile)
					padding-bottom 20px

		&_cols-4
			.product-features__item
				width 255px

				&:nth-child(3n - 1)
					margin 0

	&__item
		display inline-block
		font-size 20px
		line-height 24px
		text-align center
		vertical-align top

		&:nth-child(3n - 1)
			margin 0 80px

			+below($tablet)
				margin 0

		&:nth-child(2n + 1) ^[0]__item-wrapper
			+below($tablet)
				margin-right 45px
				margin-left auto
				width 280px

			+below($mobile)
				margin-right 0
				margin-left 0
				width 100%

		&:nth-child(even) ^[0]__item-wrapper
			+below($tablet)
				margin-right auto
				margin-left 45px
				width 280px

			+below($mobile)
				margin-right 0
				margin-left 0
				width 100%

		+below($tablet)
			margin-top 0
			padding 0
			width 50% !important

		+below($mobile)
			display block
			width 100% !important

	&__item-wrapper
		margin 0

	&__title
		font-family proxima_li
		font-size 40px
		color #9dc6ff
		text-transform capitalize

		+below($tablet)
			vertical-align middle

		&_inline
			+below($tablet)
				padding-left 20px
				display inline-block

	&__text
		line-height 24px

		+below($tablet)
			margin 10px 0
			padding 0 20px
			font-size 18px

	&__sub-text
		padding-top 16px
		font-size 12px
		font-weight 300
		line-height 15px

	&__item-header
		padding-bottom 20px
		line-height 50px

		+below($tablet)
			padding-bottom 0
			min-height 80px

	&__image
		line-height 98px

		+below($tablet)
			vertical-align middle

		&_inline
			+below($tablet)
				display inline-block


	&__icon
		display inline-block
		vertical-align middle

	&__icon_weight
		width 53px
		height 58px

		+below($tablet)
			width 53px
			height 58px

	&__icon_body-fat
		width 58px
		height 61px

		+below($tablet)
			width 58px
			height 61px

	&__icon_body-water
		width 33px
		height 56px

		+below($tablet)
			width 33px
			height 56px

	&__icon_muscule
		width 43px
		height 71px

		+below($tablet)
			width 43px
			height 71px

	&__icon_bone
		width 48px
		height 58px

		+below($tablet)
			width 48px
			height 58px

	&__icon_bmi
		width 45px
		height 56px

		+below($tablet)
			width 45px
			height 56px

	&__icon_steps
		width 40px
		height 57px

	&__icon_distance
		width 43px
		height 57px

	&__icon_calories
		width 43px
		height 58px

	&__icon_sleep
		width 55px
		height 57px
