include ../icon/icon

mixin product-features(data)
	+b.product-features&attributes(attributes)
		- var itemsPerLine = data.length % 4 === 0 ? '4' : '3'
		+e.wrapper(class='_cols-'+itemsPerLine)
			each feature in data
				+e.item
					+e.item-wrapper
						+e.item-header
							+e.image(class= feature.type ? '_' + feature.type : '')
								+icon(feature.icon)(class='icon_' + feature.iconMode)
							+e.title(class= feature.type ? '_' + feature.type : '')= feature.title
						+e.text= feature.text
						if feature.subText
							+e.sub-text= feature.subText
