.imprint
	display block
	margin 0 auto
	padding-top 80px
	width 1040px

	&__header
		margin 60px 0 30px
		font-family proxima_th
		font-size 60px
		line-height 72px
		color #000
		
	&__items
		margin-bottom 60px
		
	&__item
		display inline-block
		vertical-align top
		margin-right 40px
		width 320px
		font-size 20px
		line-height 34px
		
		&:last-child
			width 300px
			margin-right 0
		
	&__bold
		font-family proxima_sb
		
	&__link
		color #7fa0c1
		text-decoration none