@keyframes bounce
  0%
  	width 0
  	height 0

  80%
  	width 60px
  	height 60px

  100%
  	width 48px
  	height 48px

.share
	position relative
	display block
	height 100%
	background url(../images/share_bg.jpg) center 70px no-repeat
	background-size cover
	
	&__content
		position absolute
		left 0
		right 0
		top 50%
		transform translate(0, -50%)
		
		+below($switchNavAt)
			position static
			transform none

	&__header
		margin-bottom 20px
		font-family proxima_th
		header()
		text-align center
		color #fff
		
		+below($switchNavAt)
			padding-top 100px

	&__text
		margin 0 auto
		width 640px
		font-size 20px
		line-height 32px
		text-align center
		color #fff
		
		+below($switchNavAt)
			width auto
			padding 0 20px
			font-size 18px
			line-height 24px

	&__icons
		position relative
		margin 25px auto 0
		width 403px
		height 122px
		background url(../images/share_icons.png)
		background-size contain

		&_visible
			& .share__icon
				animation bounce .3s 1 forwards
				animation-timing-function linear
				
		+below($switchNavAt)
			background-repeat no-repeat
			width 300px
			margin 25px auto 0
			
			& .share__icon
				animation none

	&__icon
		position absolute
		bottom 34px
		width 0
		height 0
		background-repeat no-repeat
		background-position center
		background-size contain
		transition short-animation
		transform translate(-50%, 50%)
		
		+below($switchNavAt)
			width 32px
			height 32px

		&_gmail
			left 24px
			background-image url(../images/logo_gmail.png)
			
			+below($switchNavAt)
				left 12px

		&_wechat
			left 158px
			background-image url(../images/logo_wechat.png)
			
			+below($switchNavAt)
				left 98px

		&_whatsapp
			left 242px
			background-image url(../images/logo_whatsapp.png)
			
			+below($switchNavAt)
				left 203px

		&_fb
			left 392px
			background-image url(../images/logo_fb.png)
			
			+below($switchNavAt)
				left 290px