mixin share()
	+b.share&attributes(attributes)
		+e.header Share your data
		+e.text with your doctor, family or friends via any channel you want, including<br>What's App, WeChat, Facebook or email.
		+e.icons
			+e.icon._gmail
			+e.icon._wechat
			+e.icon._whatsapp
			+e.icon._fb