include ../logo/logo
include ../nav/nav
include ../languages/languages
include ../icon/icon
include ../burger/burger

mixin header()
	+b.header&attributes(attributes)
		+wrapper
			+e.content
				+e.burger
					+burger.js-burger-status

				+e.logo
					+logo

				+e.navigations.js-navigations
					+e.scroll
						+e.nav
							+nav

						+e.lang
							+languages