include ../logo/logo
include ../nav/nav
include ../languages/languages
include ../icon/icon
include ../burger/burger

mixin header()
	+b.header&attributes(attributes)
		+wrapper
			+e.content
				+e.burger
					+burger.js-nav-burger

				+e.logo
					+logo

				+e.nav.js-nav
					+nav

				+e.lang
					+languages