mixin track()
	+b.track&attributes(attributes)
		+e.heading
			+e.header Tracking your datas
			+e.text from Apple Health or Google fit or with devices — simple at a glance 

		+e.bg
			+e.mark
			+e.data
			+e.products
				+e.product._item-1
					img(src='assets/images/product_activity.png')
				+e.product._item-2
					img(src='assets/images/product_scales.png')
				+e.product._item-3
					img(src='assets/images/product_blood.png')

		+e.desc
			+e.paragraph Your body stats are presented in various graphic forms
			+e.paragraph Including history which allows you to keep track of your developments
