mixin track()
	+b.track&attributes(attributes)
		+e.heading
			+e.header Tracking your datas
			+e.text from Apple Health or Google fit or with devices — simple at a glance 

		+e.bg
			+e.mark
			+e.data