.product-item
	margin 80px auto 100px
	display block
	overflow hidden
	width 1040px

	+below($tablet)
		margin-top 0
		width auto

	&__data
		float left
		width 600px

		&_right
			float right
			width 400px

		+below($tablet)
			padding-left 50px
			float none !important
			width 100%

	&__image
		float right
		width 400px

		&_left
			float left

		+below($tablet)
			margin-bottom 104px
			display block
			float none !important
			width 100%
			text-align center

		img
			max-width 400px

			+below($tablet)
				max-width 100%

	&__title
		margin-top 25px
		margin-bottom 20px
		font-family proxima_th
		font-size 40px
		line-height 40px
		color #000

		+below($tablet)
			margin-bottom 15px

	&__text
		margin-bottom 20px
		font-size 20px

	&__users
		margin-bottom 20px

		+below($tablet)
			margin-bottom 37px

	&__user
		padding 6px 16px
		display inline-block
		height 32px
		font-size 18px
		line-height 22px
		color #fff
		background-color #9dc6ff
		border-radius 32px

	&__icon
		width 70px
		height 70px

	&__button
		width 240px
		height 50px
		font-size 20px
		text-align center
		color #9ac9ff
		background #fff
		border 2px solid #9ac9ff
		border-radius 4px

		+below($mobile)
			margin 0 auto
			display block

		&_disabled
			cursor default
			color rgba(#9ac9ff, .5)

	&__user-icon
		position relative
		top 4px
		margin-right 7px
		display inline-block
		overflow hidden
		width 16px
		height 16px

	&__list
		margin-bottom 25px
		margin-left 18px
		padding-left 0
		list-style disc
		font-size 18px

		+below($tablet)
			margin-bottom 22px

	&__item
		margin-bottom 12px
		color #d8d8d8

		+below($tablet)
			margin-bottom 16px

	&__item-text
		color #000

		+below($tablet)
			padding-left 3px
