.product-item
	margin 0 auto 100px
	display block
	overflow hidden
	width 1040px

	+below($tablet)
		margin-top 0
		width auto

	+below($mobile)
		margin-bottom 92px

	&__data
		padding-left 10px
		float left
		width 600px

		+below($tablet)
			padding-left 50px
			float none !important
			width 100%

		+below($mobile)
			padding 0 16px

	&__image
		padding-top 15px
		float right
		width 440px
		text-align right

		+below($tablet)
			padding-top 0
			padding-left 15px
			padding-bottom 98px
			display block
			float none !important
			width 100%
			text-align center

		+below($mobile)
			padding-left 10px
			padding-bottom 45px

		img
			width 100%

			+below($tablet)
				width 58%

			+below($mobile)
				width 66%

	&__title
		padding-bottom 15px
		font-family proxima_th
		font-size 40px
		line-height 40px
		color #000

		+below($mobile)
			padding-bottom 17px
			font-size 32px
			line-height normal

	&__text
		margin-bottom 17px
		font-size 20px

		+below($mobile)
			margin-bottom 15px

	&__users
		padding-bottom 35px

		+below($mobile)
			padding-bottom 28px

	&__user
		padding 6px 16px
		display inline-block
		height 32px
		font-size 18px
		line-height 22px
		color #fff
		background-color #9dc6ff
		border-radius 32px

	&__icon
		width 70px
		height 70px

	&__button
		padding-left 6px
		width 240px
		height 50px
		font-size 20px
		text-align center
		color #9ac9ff
		background #fff
		border 2px solid #9ac9ff
		border-radius 4px

		+below($mobile)
			margin 0 auto
			display block

		&_disabled
			cursor default
			color rgba(#9ac9ff, .5)

	&__user-icon
		margin-right 7px
		display inline-block

	&__icon
		display inline-block
		width 17px
		height 16px

	&__list
		margin-left 18px
		padding-left 0
		list-style disc
		font-size 18px

		+below($tablet)
			margin-bottom 15px

	&__item
		padding-bottom 10px
		color #d8d8d8

		&:last-child
			padding-bottom 5px

		br
			+below($tablet)
				display none

	&__item-text
		padding-left 3px
		line-height 24px
		letter-spacing -.1px
		color #000

		+below($tablet)
			padding-left 3px

		+below($mobile)
			padding-left 2px

	.preview
		padding-left 5px

		&:before
			margin-right 3px
			display inline-block
			width 16px
			height 16px
			content ''
			border-radius 100%

		&_black:before
			background linear-gradient(to right, #000 50%, #000 50%)

		&_silver-black:before
			background linear-gradient(to right, #cacaca 50%, #000 50%)

		&_white-lemon:before
			background linear-gradient(to right, #fff 50%, #b5ce53 50%)

		&_green:before
			background linear-gradient(to right, #3ed327 50%, #3ed327 50%)

		&_blue:before
			background linear-gradient(to right, #218de1 50%, #218de1 50%)
