include ../header/header
include ../footer/footer

mixin page-text()
	+b.page-text&attributes(attributes)
		+header()

		+e('h1').header Application Terms of Use

		+e.block
			+e('h3').subheader Verwender:
			+e('p').p ADE Schnellwaagen-und 
			+e('p').p Aufschnittmaschinen-Fabrik 
			+e('p').p Walter R. Mayer GmbH & Co.
			+e('p').p Hammer Steindamm 27-29
			+e('p').p D-22089 Hamburg 
			+e('p').p (nachfolgend „ADE“)

		+e.block
			+e('h3').subheader 1. VERTRAGSGEGENSTAND
			+e('p').p 1.1. Diese Nutzungsbedingungen regeln die Nutzung der mobilen App „fitvigo“ („Software“) zur Auswertung der mittels ADE-Vitalparameter-Produkte („ADE-Smart-Produkte“) vorgenommenen Messungen über den Server von ADE („ADE-Server“) und die Nutzung weiterer Funktionen und Dienste, die von ADE auf diese Weise bereitgestellt werden (gemeinsam die „Dienste“). Der Erwerb von Hardware (etwa eines ADE-Smart-Produkts) ist nicht Gegenstand der Nutzungsbedingungen.
			+e('p').p 1.2. Der Vertrag zwischen ADE und dem Nutzer kommt durch Akzeptieren der Nutzungsbedingungen in der Software zustande. Ohne ein solches Einverständnis ist die Nutzung der Software nicht zulässig.

		+e.block
			+e('h3').subheader 2. NUTZUNGSRECHTE
			+e('p').p 2.1. Die Überlassung und Nutzung der Software ist für den Nutzer kostenfrei. ADE ist jedoch berechtigt, bestimmte Dienste nur kostenpflichtig anzubieten. 
			+e('p').p 2.2. Die Software ermöglicht die Erhebung und Übermittlung von Vitalparametern an den ADE-Server sowie deren dortige Auswertung mit Rückübermittlung der Ergebnisse an die Software. Die übermittelten Informationen und Datensätze selbst enthalten keine personenbezogenen Daten. 
			+e('p').p 2.3. Mit Zustimmung zu diesen Nutzungsbedingungen erhält der Nutzer das nicht ausschließliche, dauerhafte Recht, die Software auf Endgeräten zu installieren und gemeinsam mit den ADE-Smart-Produkten zur Nutzung der Dienste zu verwenden. Das eingeräumte Nutzungsrecht ist nicht übertragbar oder unterlizenzierbar. Nutzungsrechte an Softwareupdates entstehen für den Nutzer im Zeitpunkt des Herunterladens. 
			+e('p').p 2.4. Dem Nutzer ist untersagt, die Software für andere Zwecke als die in Ziffer 2.2 beschriebenen zu nutzen. Insbesondere ist es unzulässig, technische Schutzmaßnahmen zu umgehen bzw. außer Kraft zu setzen. Auch ein Reverse Engineering, Dekompilieren oder Disassemblieren der Software ist untersagt, soweit nicht ausdrücklich durch § 69e UrhG zugelassen. 
			+e('p').p 2.5. Soweit die Software Programme von Drittanbietern enthält (z.B. Open-Source Software), so gelten die Lizenzbedingungen des Drittanbieters, die auf der Website von ADE unter (www.fitvigo.com) abgerufen werden können. 

		+e.block
			+e('h3').subheader 3. EINSATZVORAUSSETZUNGEN
			+e('p').p Für die Nutzung der Software benötigt der Nutzer ein Smartphone mit Bluetooth-Funktion unter dem Betriebssystem Android (Version 4 oder höher) oder iOS (Version 8 oder höher) oder Watch OS (Version 1 oder höher). Viele Funktionen benötigen zudem einen Zugang zum Internet oder einem Mobilfunknetz, dessen Kosten sich aus den Bestimmungen des jeweiligen Providervertrages des Nutzers ergeben. ADE weist ausdrücklich darauf hin, dass diese Zugangs- und Verbindungskosten vom Nutzer zu tragen sind und empfiehlt für die Nutzung der Software die Buchung einer Internetflatrate.

		+e.block
			+e('h3').subheader 4. VERGÜTUNG
			+e('p').p 4.1. Der Nutzer erwirbt mit Kauf eines fabrikneuen ADE-Smart-Produkts das Recht zur kostenlosen Nutzung der Software mit seinen Basisdiensten (Verbinden von ADE-Smart-Produkten, Übertragen von Vitalparametern, Speichern und Auswerten der Daten, nachfolgend  „Basisdienste“) für einen Zeitraum von zwölf (12) Monaten ab erstmaliger Installation der Software
			+e('p').p 4.2. Mit Ablauf dieses kostenlosen Nutzungszeitraumes endet das Nutzungsrecht nach Ziffer 2.3. für die Basisdienste. Der Nutzer kann sein Nutzungsrecht allerdings jederzeit kostenpflichtig verlängern; diese Option stellt die Software im Menü „Einstellungen„ bereit. 4.3 Wurde der Nutzungszeitraum kostenpflichtig verlängert, so gilt die vereinbarte Laufzeit als Mindestvertragslaufzeit. Eine vorzeitige, ordentliche Kündigung ist nicht möglich. Die Kündigung aus wichtigem Grund bleibt hiervon unberührt.
			+e('p').p 4.4 Über die Basisdienste hinaus kann der Nutzer jederzeit kostenpflichtig Zusatzdienste buchen, wie die Freischaltung von Inhalten (sog. Habits) z.B. mit Tipps zur Verbesserung der Fitness.
			+e('p').p 4.5 Es gelten die jeweils aktuellen Preise und ergänzenden Vertragsbedingungen, die im Internet unter www.fitvigo.com abgerufen werden können. Dort findet der Nutzer auch Informationen über Zahlungsmöglichkeiten und –bedingungen.

		+e.block
			+e('h3').subheader 8. HAFTUNG 
			+e('p').p 8.1 In allen Fällen vertraglicher und außervertraglicher Haftung leistet ADE sowie seine gesetzlichen Vertreter, Arbeitnehmer, angestellten Mitarbeiter und Erfüllungsgehilfen Schadensersatz ausschließlich nach Maßgabe folgender Grenzen:
			+e('ul').list
				+e('li').list-item bei Vorsatz in voller Höhe, ebenso bei Fehlen einer Beschaffenheit, für die ADE eine Garantie übernommen hat;
				+e('li').list-item bei grober Fahrlässigkeit nur in Höhe des vorhersehbaren Schadens, der durch die verletzte Pflicht verhindert werden sollte;
				+e('li').list-item in anderen Fällen: nur aus Verletzung einer wesentlichen Vertragspflicht, wenn dadurch der Vertragszweck                              gefährdet ist, jedoch stets nur in Höhe des vorhersehbaren Schadens;
				+e('li').list-item darüber hinaus: soweit ADE gegen die eingetretenen Schäden versichert ist, im Rahmen der Versicherungsdeckung und aufschiebend bedingt durch die Versicherungszahlung.

		+footer()