.product-header
	margin 100px auto 0
	display block
	width 1040px
	text-align center

	+below($tablet)
		margin-top 64px
		width auto
		font-size 0px

	&__item
		position relative
		display inline-block
		width 550px
		height 350px
		text-align left
		vertical-align top

		+below($tablet)
			padding-left 51px
			width 55%
			height auto

		+below($mobile)
			padding-left 0
			display block
			width 100%
			text-align center

	&__image
		display inline-block
		width 420px

		+below($tablet)
			padding-left 16px
			width 45%
			text-align left

		img
			+below($tablet)
				width 85%

	&__header
		width 560px
		font-family proxima_th
		font-size 60px
		line-height 72px
		color #000

		+below($tablet)
			width 100%
			font-size 42px
			line-height 42px

	&__subheader
		margin-top 15px
		font-size 30px
		line-height 37px

		+below($tablet)
			margin-top 12px
			font-size 21px

	&__text
		position absolute
		left 0
		bottom 0
		font-family proxima_th
		font-size 20px
		font-style italic
		line-height 26px

		+below($tablet)
			position static
			padding-top 87px
