.protection
	position relative
	display block
	height 100%
	
	&__content
		position absolute
		left 0
		right 0
		top 50%
		transform translate(0, -50%)
		
		+below($switchNavAt)
			padding-top 40px
			position static
			transform none

	&__header
		margin-bottom 40px
		font-family proxima_th
		font-size 60px
		line-height 70px
		text-align center
		
		+below($switchNavAt)
			margin-top 30px

	&__icon
		position relative
		margin-bottom 40px
		text-align center

	&__text
		margin 0 auto
		width 650px
		font-size 20px
		line-height 32px
		text-align center
		
		+below($switchNavAt)
			width auto
			padding 0 20px

	&__lock
		position relative
		width 120px
		height 120px

	&__lock-head
		position absolute
		top -38px
		left 50%
		margin-left -15px
		width 31px
		transition ease-out .2s top

		&_closed
			top -30px
			
		+below($switchNavAt)
			top -30px
