include ../icon/icon

mixin protection()
	+b.protection&attributes(attributes)
		+e.content
			+e.header Data Protection
			+e.icon
				+icon('lock_head').lock-head
				+icon('lock').lock
			+e.text Tousled food truck polaroid, salvia bespoke small batch Pinterest Marfa. Fingerstache authentic craft beer, food truck Banksy Carles kale chips hoodie. Trust fund artisan master cleanse fingerstache post-ironic, fashion axe art party Etsy direct trade retro organic. Cliche Shoreditch Odd Future Pinterest, pug disrupt photo booth VHS literally occupy gluten-free.